.row {
  display: flex;
}
.column {
  display: flex;
  width: 50%;
  flex-direction: column;
}
.small-bird {
  width: 64px;
  height: 64px;
  margin: auto;
}
.large-bird {
  width: 320px;
  height: 320px;
  margin: auto;
}
